<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="utf-8">
	<meta http-equiv="cache-control" content="no-cache" />

	<title>Title</title>
	<meta name="description" content="">

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- <meta property="og:image" content="path/to/image.jpg">
	<link rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon">
	<link rel="apple-touch-icon" href="img/favicon/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-touch-icon-114x114.png"> -->

	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">

	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>

<body>
	<div class="site">
		<div class="calc_inv" id="calc_inv">
			<div class="module_title"> Расчет стоимости инвентаризации </div>
			<nav class="calc_menu">
				<div class="item">
					<div class="pic"> <img src="/img/link1.jpg" alt=""> </div>
					 <span style="color:#E96C20;">Товара</span> 
				</div>
				<div class="item">
					<div class="pic"> <img src="/img/link2.jpg" alt=""> </div>
					<span>Имущества</span> 
				</div>
			</nav>
			<div class="calc_main_container">
				<div class="calc_main">
					<div class="container">
						<form>
							<section>
								<div class="tit_row">
									<div>Количества обьектов</div>
									<label for="obj_count_input"></label>
									<input id="obj_count_input" class="input_text" type="text" v-model="obj_count" min="1" max="100" readonly/>
									<div>адресов для проверки</div>
								</div>
								<label for="obj_count_range">
									<input id="obj_count_range" :style="firstRangeStyle" class="input_range" type="range" value="30" min="1" max="100" v-model="obj_count" v-on:input="onChangeRange($event.target, 'firstRangeStyle')" />
								</label>
								<div class="ruler" :style="firstRulerStyle">
									<div class="seg"><div class="vertical_line"></div>1</div>
									<div class="seg" style="left: 9.09%"><div class="vertical_line"></div>10</div>
									<div class="seg" style="left: 19.19%"><div class="vertical_line"></div>20</div>
									<div class="seg" style="left: 29.29%"><div class="vertical_line"></div>30</div>
									<div class="seg" style="left: 39.39%"><div class="vertical_line"></div>40</div>
									<div class="seg" style="left: 49.49%"><div class="vertical_line"></div>50</div>
									<div class="seg" style="left: 59.59%"><div class="vertical_line"></div>60</div>
									<div class="seg" style="left: 69.69%"><div class="vertical_line"></div>70</div>
									<div class="seg" style="left: 79.79%"><div class="vertical_line"></div>80</div>
									<div class="seg" style="left: 89.89%"><div class="vertical_line"></div>90</div>
									<div class="seg last" style="left: 100%" v-if="more650"><div class="vertical_line"></div>более 100</div>
									<div class="seg last" style="left: 100%" v-else><div class="vertical_line"></div>100+</div>
								</div>
							</section>
							<section class="dark_section">
								<div class="tit_row">
									<div>Количества единиц</div>
									<label for="item_count_range"></label>
									<input id="item_count_input" class="input_text" type="text" value="70 000" v-model="item_count_calculate" readonly />
									<div>для пересчета (в среднем на каждом обьекте)</div>
								</div>
								<label for="item_count_range">
									<input id="item_count_range" :style='secondRangeStyle' class="input_range" type="range" min="1000" max="100000" v-model="item_count" v-on:input="onChangeRange($event.target, 'secondRangeStyle')" />
								</label>
								<div class="ruler" :style="firstRulerStyle">
									<div class="seg"><div class="vertical_line"></div>1<div class="sub_text">тыс.ед.</div></div>
									<div class="seg" style="left: 9.09%"><div class="vertical_line"></div>10<div class="sub_text">тыс.ед.</div></div>
									<div class="seg" style="left: 19.19%"><div class="vertical_line"></div>20<div class="sub_text">тыс.ед.</div></div>
									<div class="seg" style="left: 29.29%"><div class="vertical_line"></div>30<div class="sub_text">тыс.ед.</div></div>
									<div class="seg" style="left: 39.39%"><div class="vertical_line"></div>40<div class="sub_text">тыс.ед.</div></div>
									<div class="seg" style="left: 49.49%"><div class="vertical_line"></div>50<div class="sub_text">тыс.ед.</div></div>
									<div class="seg" style="left: 59.59%"><div class="vertical_line"></div>60<div class="sub_text">тыс.ед.</div></div>
									<div class="seg" style="left: 69.69%"><div class="vertical_line"></div>70<div class="sub_text">тыс.ед.</div></div>
									<div class="seg" style="left: 79.79%"><div class="vertical_line"></div>1<div class="sub_text">млн ед.</div></div>
									<div class="seg" style="left: 89.89%"><div class="vertical_line"></div>5<div class="sub_text">млн ед.</div></div>
									<div class="seg last" style="left: 100%" v-if="more650"><div class="vertical_line"></div>более 10<div class="sub_text">млн ед.</div></div>
									<div class="seg last" style="left: 100%" v-else="more650"><div class="vertical_line"></div>10+<div class="sub_text">млн ед.</div></div>
								</div>
							</section>
							<section class="check_section">
									<div class="tit">Размещение<br /> товара</div>
									<div class="list">

									<div class="checker">
										<input type="radio" id="place_cheker1" name="place_cheker" checked value="1.5" v-model="place" />
										<label for="place_cheker1">
											<div class="pic"><svg xmlns="http://www.w3.org/2000/svg" width="571" height="418" viewBox="0 0 571 418" fill="none">
												<path fill-rule="evenodd" clip-rule="evenodd" d="M93.25 66.16C93.25 66.16 102.25 62.16 112.25 59.16C122.25 57.16 142.25 57.16 155.25 68.16C167.25 80.16 179.25 101.16 176.25 128.16C173.25 155.16 157.25 198.16 143.25 210.16C128.25 221.16 114.25 227.16 104.25 225.16C93.25 224.16 88.25 221.16 88.25 221.16C88.25 221.16 77.25 225.16 70.25 225.16C63.25 225.16 52.25 225.16 40.25 215.16C28.25 204.16 11.25 181.16 5.25 159.16C-1.75 136.16 -1.75 112.16 5.25 95.16C11.25 77.16 25.25 64.16 38.25 61.16C52.25 58.16 68.25 60.16 74.25 62.16C80.25 64.16 82.25 66.16 82.25 66.16C82.25 66.16 88.25 49.16 95.25 34.16C102.25 19.16 106.25 14.16 109.25 12.16C112.25 9.16 114.25 11.16 117.25 12.16C120.25 13.16 131.25 18.16 131.25 18.16C131.25 18.16 133.25 19.16 130.25 23.16C126.25 27.16 114.25 36.16 108.25 43.16C102.25 51.16 96.25 59.16 95.25 62.16C93.25 65.16 92.25 67.16 92.25 67.16L93.25 66.16ZM88.25 45.16C88.25 45.16 89.25 30.16 81.25 17.16C72.25 4.16 60.25 1.16 54.25 0.16C48.25 0.16 41.25 -0.84 39.25 2.16C37.25 5.16 39.25 26.16 50.25 37.16C60.25 47.16 71.25 48.16 77.25 49.16C82.25 49.16 87.25 48.16 88.25 47.16C88.25 46.16 88.25 45.16 88.25 45.16Z" transform="translate(0.75 191.84)" fill="#96989A"/>
												<path fill-rule="evenodd" clip-rule="evenodd" d="M93.8822 66.16C93.8822 66.16 102.882 62.16 112.882 59.16C122.882 57.16 141.882 57.16 154.882 68.16C167.882 80.16 179.882 101.16 176.882 128.16C173.882 155.16 157.882 198.16 142.882 210.16C127.882 221.16 113.882 227.16 103.882 225.16C93.8822 224.16 87.8822 221.16 87.8822 221.16C87.8822 221.16 77.8822 225.16 70.8822 225.16C63.8822 225.16 52.8822 225.16 40.8822 215.16C28.8822 204.16 10.8822 181.16 4.88219 159.16C-1.11781 136.16 -2.11781 112.16 4.88219 95.16C11.8822 77.16 24.8822 64.16 38.8822 61.16C52.8822 58.16 67.8822 60.16 74.8822 62.16C80.8822 64.16 82.8822 66.16 82.8822 66.16C82.8822 66.16 88.8822 49.16 95.8822 34.16C102.882 19.16 105.882 14.16 108.882 12.16C111.882 9.16 114.882 11.16 117.882 12.16C120.882 13.16 131.882 18.16 131.882 18.16C131.882 18.16 133.882 19.16 129.882 23.16C125.882 27.16 114.882 36.16 108.882 43.16C101.882 51.16 96.8822 59.16 94.8822 62.16C93.8822 65.16 92.8822 67.16 92.8822 67.16L93.8822 66.16ZM88.8822 45.16C88.8822 45.16 89.8822 30.16 80.8822 17.16C72.8822 4.16 60.8822 1.16 53.8822 0.16C47.8822 0.16 40.8822 -0.84 39.8822 2.16C37.8822 5.16 39.8822 26.16 49.8822 37.16C60.8822 47.16 71.8822 48.16 76.8822 49.16C82.8822 49.16 87.8822 48.16 87.8822 47.16C88.8822 46.16 88.8822 45.16 88.8822 45.16Z" transform="translate(194.118 191.84)" fill="#96989A"/>
												<path fill-rule="evenodd" clip-rule="evenodd" d="M93.25 55.5845C93.25 55.5845 102.25 51.5845 112.25 48.5845C122.25 46.5845 142.25 46.5845 155.25 57.5845C167.25 69.5845 179.25 90.5845 176.25 117.584C173.25 144.584 157.25 187.584 143.25 199.584C128.25 210.584 114.25 216.584 103.25 214.584C93.25 213.584 88.25 210.584 88.25 210.584C88.25 210.584 77.25 214.584 70.25 214.584C63.25 214.584 52.25 214.584 40.25 204.584C28.25 193.584 11.25 170.584 5.25 148.584C-1.75 125.584 -1.75 101.584 5.25 84.5845C11.25 66.5845 25.25 53.5845 38.25 50.5845C52.25 47.5845 68.25 49.5845 74.25 51.5845C80.25 53.5845 82.25 55.5845 82.25 55.5845C82.25 55.5845 88.25 38.5845 95.25 23.5845C102.25 8.58446 106.25 3.58446 109.25 1.58446C112.25 -1.41554 114.25 0.584459 117.25 1.58446C120.25 2.58446 131.25 7.58446 131.25 7.58446C131.25 7.58446 133.25 8.58446 130.25 12.5845C126.25 16.5845 114.25 25.5845 108.25 32.5845C102.25 40.5845 96.25 48.5845 95.25 51.5845C93.25 54.5845 92.25 56.5845 92.25 56.5845L93.25 55.5845Z" transform="translate(393.75 202.416)" fill="#96989A"/>
												<path fill-rule="evenodd" clip-rule="evenodd" d="M93.8822 65.5981C93.8822 65.5981 102.882 61.5981 112.882 59.5981C122.882 57.5981 141.882 56.5981 154.882 68.5981C167.882 79.5981 179.882 100.598 176.882 127.598C173.882 154.598 157.882 198.598 142.882 209.598C127.882 221.598 113.882 226.598 103.882 224.598C93.8822 223.598 87.8822 221.598 87.8822 221.598C87.8822 221.598 77.8822 225.598 70.8822 225.598C62.8822 225.598 51.8822 224.598 40.8822 214.598C28.8822 204.598 10.8822 180.598 4.88219 158.598C-1.11781 136.598 -2.11781 111.598 4.88219 94.5981C11.8822 77.5981 24.8822 63.5981 38.8822 60.5981C52.8822 58.5981 67.8822 59.5981 73.8822 61.5981C80.8822 63.5981 82.8822 65.5981 82.8822 65.5981C82.8822 65.5981 88.8822 48.5981 95.8822 33.5981C102.882 18.5981 105.882 13.5981 108.882 11.5981C111.882 9.59808 114.882 10.5981 117.882 11.5981C120.882 12.5981 131.882 17.5981 131.882 17.5981C131.882 17.5981 133.882 18.5981 129.882 22.5981C125.882 26.5981 114.882 35.5981 107.882 42.5981C101.882 50.5981 96.8822 58.5981 94.8822 61.5981C93.8822 64.5981 92.8822 66.5981 92.8822 66.5981L93.8822 65.5981ZM88.8822 45.5981C88.8822 45.5981 89.8822 29.5981 80.8822 16.5981C72.8822 3.59808 60.8822 0.598076 53.8822 0.598076C47.8822 -0.401924 40.8822 -0.401924 39.8822 2.59808C37.8822 4.59808 39.8822 26.5981 49.8822 36.5981C60.8822 47.5981 71.8822 48.5981 76.8822 48.5981C82.8822 48.5981 87.8822 47.5981 87.8822 46.5981C88.8822 45.5981 88.8822 45.5981 88.8822 45.5981Z" transform="translate(327.118 0.402344)" fill="#96989A"/>
												</svg></div>
											<div class="text">Навалом,<br /> без выкладки</div>
										</label>
									</div>

									<div class="checker">
										<input type="radio" id="place_cheker2" name="place_cheker" value="1.2" v-model="place" />
										<label for="place_cheker2">
											<div class="pic">
												<svg width="414" height="392" viewBox="0 0 414 392" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path fill-rule="evenodd" clip-rule="evenodd" d="M280 0V220C280 234 269 245 255 245H25C11 245 0 234 0 220V47V0H280ZM97 59H186V91H97V59Z" transform="translate(63 147)" fill="#96989A"/> <!-- +50px -->
													<path fill-rule="evenodd" clip-rule="evenodd" d="M83 0L0 147L16 156L104 0H83Z" transform="translate(310 28)" fill="#96989A"/>
													<path fill-rule="evenodd" clip-rule="evenodd" d="M93.3485 65.5981C93.3485 65.5981 103.348 61.5981 113.348 59.5981C123.348 57.5981 142.348 57.5981 155.348 68.5981C168.348 79.5981 180.348 100.598 176.348 127.598C176.348 130.598 176.348 132.598 175.348 135.598H0.348469C-0.651531 120.598 0.348469 105.598 5.34847 94.5981C12.3485 77.5981 25.3485 64.5981 39.3485 61.5981C52.3485 58.5981 68.3485 59.5981 74.3485 61.5981C81.3485 63.5981 82.3485 65.5981 82.3485 65.5981C82.3485 65.5981 88.3485 49.5981 95.3485 34.5981C102.348 19.5981 106.348 14.5981 109.348 11.5981C112.348 9.59808 114.348 10.5981 117.348 11.5981C120.348 12.5981 132.348 18.5981 132.348 18.5981C132.348 18.5981 134.348 18.5981 130.348 22.5981C126.348 26.5981 114.348 35.5981 108.348 43.5981C102.348 50.5981 97.3485 59.5981 95.3485 61.5981C93.3485 64.5981 92.3485 66.5981 92.3485 66.5981L93.3485 65.5981ZM88.3485 45.5981C88.3485 45.5981 90.3485 30.5981 81.3485 17.5981C72.3485 4.59808 60.3485 1.59808 54.3485 0.598076C48.3485 -0.401924 41.3485 -0.401924 39.3485 2.59808C38.3485 5.59808 39.3485 26.5981 50.3485 36.5981C60.3485 47.5981 72.3485 48.5981 77.3485 48.5981C82.3485 48.5981 88.3485 47.5981 88.3485 46.5981C88.3485 45.5981 88.3485 45.5981 88.3485 45.5981Z" transform="translate(118.651 0.402344)" fill="#96989A"/>
													<path fill-rule="evenodd" clip-rule="evenodd" d="M21 0L104 147L89 156L0 0H21Z" transform="translate(0 28)" fill="#96989A"/>
												</svg>
											</div>
											<div class="text">в коробках</div>
										</label>
									</div>

									<div class="checker">
										<input type="radio" id="place_cheker3" name="place_cheker" value="1" v-model="place" />
										<label for="place_cheker3">
											<div class="pic">
												<svg width="411" height="363" viewBox="0 0 411 363" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path fill-rule="evenodd" clip-rule="evenodd" d="M131 0V103C131 109 126 114 119 114H12C5 114 0 109 0 103V22V0H131ZM45 28H87V43H45V28Z" fill="#96989A"/>
													<path fill-rule="evenodd" clip-rule="evenodd" d="M131 0V103C131 109 126 114 119 114H12C5 114 0 109 0 103V22V0H131ZM45 28H87V43H45V28Z" transform="translate(140)" fill="#96989A"/>
													<path fill-rule="evenodd" clip-rule="evenodd" d="M131 0V103C131 109 126 114 120 114H12C6 114 0 109 0 103V22V0H131ZM46 28H87V43H46V28Z" transform="translate(280)" fill="#96989A"/>
													<path fill-rule="evenodd" clip-rule="evenodd" d="M0 0H411V16H0V0Z" transform="translate(0 134)" fill="#96989A"/>
													<path fill-rule="evenodd" clip-rule="evenodd" d="M131 0V103C131 109 126 114 119 114H12C5 114 0 109 0 103V22V0H131ZM45 28H87V43H45V28Z" transform="translate(0 213)" fill="#96989A"/>
													<path fill-rule="evenodd" clip-rule="evenodd" d="M131 0V103C131 109 126 114 119 114H12C5 114 0 109 0 103V22V0H131ZM45 28H87V43H45V28Z" transform="translate(140 213)" fill="#96989A"/>
													<path fill-rule="evenodd" clip-rule="evenodd" d="M131 0V103C131 109 126 114 120 114H12C6 114 0 109 0 103V22V0H131ZM46 28H87V43H46V28Z" transform="translate(280 213)" fill="#96989A"/>
													<path fill-rule="evenodd" clip-rule="evenodd" d="M0 0H411V16H0V0Z" transform="translate(0 347)" fill="#96989A"/>
												</svg>
											</div>
											<div class="text">по полкам <br /> или адресам  <br /> хранения</div>
										</label>
									</div>

									</div>



							</section>

							<section class="check_section dark_section">
								<div class="tit tit_offset">Иденитификатор<br /> на товаре</div>
								<div class="list big_line_offset">

									<div class="checker">
										<input type="radio" id="ids_cheker1" name="ids_cheker" value="4" v-model="ids" />
										<label for="ids_cheker1">
											<div class="pic min">
												<svg width="423" height="287" viewBox="0 0 423 287" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path fill-rule="evenodd" clip-rule="evenodd" d="M25 0H398C412 0 423 11 423 25V261C423 275 412 287 398 287L25 286C11 286 0 275 0 261V25C0 11 11 0 25 0Z" fill="#96989A"/>
													<path class="white" fill-rule="evenodd" clip-rule="evenodd" d="M0 0H170V12H0V0Z" transform="translate(215 163)" fill="#FEFEFE"/>
													<path class="white" fill-rule="evenodd" clip-rule="evenodd" d="M0 0H170V12H0V0Z" transform="translate(215 198)" fill="#FEFEFE"/>
													<path class="white" fill-rule="evenodd" clip-rule="evenodd" d="M0 0H170V13H0V0Z" transform="translate(215 128)" fill="#FEFEFE"/>
													<path class="white" fill-rule="evenodd" clip-rule="evenodd" d="M0 0H170V13H0V0Z" transform="translate(215 93)" fill="#FEFEFE"/>
													<path class="white" fill-rule="evenodd" clip-rule="evenodd" d="M111 0H0V117H111V0Z" transform="translate(53 93)" fill="#FEFEFE"/>
												</svg>
												</div>
											<div class="text">Наименование </div>
										</label>
									</div>

									<div class="checker">
										<input type="radio" id="ids_cheker2" name="ids_cheker" value="2" v-model="ids"/>
										<label for="ids_cheker2">
											<div class="pic min">
												<svg width="423" height="287" viewBox="0 0 423 287" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path fill-rule="evenodd" clip-rule="evenodd" d="M25 0H398C412 0 423 11 423 25V261C423 275 412 287 398 287L25 286C11 286 0 275 0 261V25C0 11 11 0 25 0Z" fill="#96989A"/>
													<path class="white" fill-rule="evenodd" clip-rule="evenodd" d="M0 0H347V112H0V0Z" transform="translate(38 93)" fill="#FEFEFE"/>
													<path fill-rule="evenodd" clip-rule="evenodd" d="M44 11C37 19 32 27 30 34C27 40 26 48 26 56V64H13V56C13 48 15 40 18 33C21 25 26 18 32 11H0V1H44V11ZM50 64V1H71C78 1 84 3 88 6C92 9 94 13 94 19C94 21 94 24 92 26C91 29 89 30 86 31C90 32 93 34 95 37C96 39 98 42 98 46C98 52 96 57 92 60C88 63 82 64 75 64H50ZM63 36V55H75C78 55 81 54 82 52C84 51 85 49 85 46C85 43 84 41 82 39C81 37 78 36 75 36H63ZM63 28H71C75 28 77 27 79 26C81 24 82 22 82 20C82 17 81 15 79 13C77 12 75 11 71 11H63V28ZM116 39V64H104V1H125C133 1 138 3 142 6C146 10 148 14 148 20C148 23 147 26 146 28C144 31 142 33 138 34C142 35 145 37 146 39C148 42 149 45 149 49V54C149 55 149 57 149 59C150 61 151 62 152 63V64H139C138 63 137 62 137 60C136 58 136 55 136 54V49C136 46 135 43 134 42C132 40 129 39 126 39H116ZM116 29H125C129 29 131 29 133 27C135 26 136 23 136 20C136 18 135 15 133 14C131 12 129 11 125 11H116V29ZM208 64H195V12H182V3L208 0V64ZM262 41H269V51H262V64H249V51H224L223 43L249 1H262V41ZM235 41H249V18L248 21L235 41Z" transform="translate(77 119)" fill="#96989A"/>
												</svg>
											</div>
											<div class="text">артикул</div>
										</label>
									</div>

									<div class="checker">
										<input type="radio" id="ids_cheker3" name="ids_cheker" value="1" v-model="ids" />
										<label for="ids_cheker3">
											<div class="pic min">

													<svg width="427" height="287" viewBox="0 0 427 287" fill="none" xmlns="http://www.w3.org/2000/svg">
														<path fill-rule="evenodd" clip-rule="evenodd" d="M383 0H414C421 0 427 5 427 12V274C427 281 421 287 414 287H383C376 287 370 281 370 274V12C370 5 376 0 383 0ZM309 237V226H347V234C344 237 341 242 338 248C334 254 332 260 330 266C328 273 328 279 328 284H317C317 276 319 267 322 259C325 251 329 243 334 237H309ZM282 225C288 225 293 227 296 231C300 236 301 244 301 255C301 266 300 274 296 279C293 283 288 285 282 285C277 285 272 283 269 278C265 274 264 266 264 255C264 244 265 236 269 231C272 227 277 225 282 225ZM282 234C281 234 280 235 279 236C278 237 277 238 276 240C276 243 275 248 275 255C275 262 276 267 276 269C277 272 278 273 279 274C280 275 281 276 282 276C284 276 285 275 286 274C287 273 288 272 288 270C289 267 290 262 290 255C290 248 289 243 289 241C288 238 287 237 286 236C285 235 284 234 282 234ZM247 284H236V242C232 245 227 248 221 250V240C224 239 227 237 231 234C234 232 236 229 238 225H247V284ZM173 270L184 269C184 271 185 273 186 274C187 275 189 276 190 276C193 276 195 275 196 272C198 270 199 266 199 259C197 262 193 264 189 264C184 264 180 262 177 259C174 255 172 251 172 245C172 239 174 234 177 231C181 227 185 225 191 225C197 225 201 227 205 232C209 237 211 244 211 255C211 265 209 273 205 278C201 283 196 285 190 285C185 285 181 284 179 281C176 279 174 275 173 270ZM198 246C198 242 198 239 196 237C194 235 192 234 190 234C188 234 186 235 185 237C184 238 183 241 183 245C183 249 184 251 185 253C187 255 189 256 191 256C193 256 195 255 196 253C198 252 198 249 198 246ZM146 225C152 225 156 227 160 231C163 236 165 244 165 255C165 266 163 274 160 279C156 283 152 285 146 285C141 285 136 283 133 278C129 274 127 266 127 255C127 244 129 236 133 231C136 227 141 225 146 225ZM146 234C145 234 144 235 143 236C142 237 141 238 140 240C140 243 139 248 139 255C139 262 140 267 140 269C141 272 142 273 143 274C144 275 145 276 146 276C148 276 149 275 150 274C151 273 152 272 152 270C153 267 153 262 153 255C153 248 153 243 152 241C152 238 151 237 150 236C149 235 148 234 146 234ZM92 252C89 251 87 249 85 247C84 245 83 243 83 240C83 236 85 232 88 229C91 227 95 225 101 225C106 225 111 227 114 229C117 232 118 236 118 240C118 243 118 245 116 247C115 250 113 251 110 252C114 254 116 255 118 258C119 260 120 263 120 267C120 272 119 276 115 280C112 283 107 285 101 285C96 285 92 283 88 281C84 277 82 273 82 267C82 264 83 261 84 258C86 256 88 254 92 252ZM94 241C94 243 95 245 96 246C97 247 99 248 101 248C103 248 105 247 106 246C107 245 108 243 108 241C108 239 107 237 106 236C105 235 103 234 101 234C99 234 97 235 96 236C95 237 94 239 94 241ZM93 266C93 269 94 272 95 273C97 275 99 276 101 276C104 276 105 275 107 273C108 272 109 269 109 266C109 263 108 261 107 260C105 258 103 257 101 257C98 257 96 258 95 260C94 262 93 264 93 266ZM13 0H44C51 0 57 5 57 12V274C57 281 51 287 44 287H13C6 287 0 281 0 274V12C0 5 6 0 13 0ZM88 0H110C115 0 119 4 119 9V198C119 203 115 208 110 208H88C83 208 79 203 79 198V9C79 4 83 0 88 0ZM146 0H168C173 0 177 4 177 9V198C177 203 173 208 168 208H146C141 208 137 203 137 198V9C137 4 141 0 146 0ZM204 0H226C231 0 236 4 236 9V198C236 203 231 208 226 208H204C199 208 195 203 195 198V9C195 4 199 0 204 0ZM262 0H285C290 0 294 4 294 9V198C294 203 290 208 285 208H262C257 208 253 203 253 198V9C253 4 257 0 262 0ZM320 0H343C348 0 352 4 352 9V198C352 203 348 208 343 208H320C315 208 311 203 311 198V9C311 4 315 0 320 0Z" fill="#96989A"/>
													</svg>

											</div>
											<div class="text">штрих-код</div>
										</label>
									</div>

								</div>



							</section>

							<section class="check_section">
									<div class="tit">Номенклатура<br /> (колличества ед <br />на 1 номенклатуру )</div>
									<div class="list line_offset">

									<div class="checker">
										<input type="radio" id="nom_cheker1" name="nom_cheker" value="1" v-model="nom" />
										<label for="nom_cheker1">
											<div class="pic min">

													<svg width="289" height="369" viewBox="0 0 289 369" fill="none" xmlns="http://www.w3.org/2000/svg">
														<path fill-rule="evenodd" clip-rule="evenodd" d="M152.879 107.816C152.879 107.816 167.879 100.816 183.879 96.8165C199.879 93.8165 231.879 93.8165 252.879 111.816C273.879 129.816 292.879 163.816 287.879 207.816C282.879 251.816 257.879 323.816 232.879 341.816C208.879 360.816 185.879 369.816 169.879 367.816C152.879 364.816 143.879 360.816 143.879 360.816C143.879 360.816 126.879 367.816 114.879 367.816C103.879 367.816 85.8795 366.816 65.8795 349.816C46.8795 332.816 17.8795 294.816 7.87946 258.816C-2.12054 222.816 -3.12054 181.816 7.87946 153.816C19.8795 125.816 40.8795 104.816 63.8795 99.8165C85.8795 95.8165 110.879 97.8165 120.879 100.816C131.879 103.816 134.879 107.816 134.879 107.816C134.879 107.816 144.879 79.8165 155.879 55.8165C167.879 31.8165 172.879 22.8165 177.879 18.8165C182.879 15.8165 186.879 17.8165 191.879 18.8165C196.879 20.8165 214.879 29.8165 214.879 29.8165C214.879 29.8165 217.879 30.8165 211.879 36.8165C205.879 43.8165 186.879 58.8165 176.879 70.8165C166.879 82.8165 157.879 96.8165 154.879 100.816C152.879 105.816 150.879 108.816 150.879 108.816L152.879 107.816ZM144.879 73.8165C144.879 73.8165 146.879 48.8165 131.879 27.8165C117.879 6.8165 98.8795 1.8165 88.8795 0.816497C77.8795 -0.183503 66.8795 -1.1835 63.8795 3.8165C61.8795 8.8165 64.8795 42.8165 81.8795 60.8165C98.8795 77.8165 116.879 78.8165 125.879 78.8165C134.879 79.8165 143.879 77.8165 143.879 76.8165C144.879 74.8165 144.879 73.8165 144.879 73.8165Z" transform="translate(0.120605 0.183594)" fill="#96989A"/>
													</svg>

												</div>
											<div class="text">розница <br /> (1-10 ед) </div>
										</label>
									</div>

									<div class="checker">
										<input type="radio" id="nom_cheker2" name="nom_cheker" value="0.4" v-model="nom" />
										<label for="nom_cheker2">
											<div class="pic min">
													<svg width="449" height="384" viewBox="0 0 449 384" fill="none" xmlns="http://www.w3.org/2000/svg">
														<path fill-rule="evenodd" clip-rule="evenodd" d="M74.75 52.6569C74.75 52.6569 81.75 49.6569 89.75 47.6569C97.75 45.6569 113.75 45.6569 123.75 54.6569C133.75 63.6569 142.75 80.6569 140.75 101.657C137.75 123.657 125.75 157.657 113.75 167.657C101.75 176.657 90.75 180.657 82.75 179.657C74.75 178.657 70.75 176.657 70.75 176.657C70.75 176.657 61.75 179.657 56.75 179.657C50.75 179.657 41.75 178.657 32.75 170.657C22.75 162.657 8.75 143.657 3.75 126.657C-1.25 108.657 -1.25 88.6569 3.75 75.6569C9.75 61.6569 19.75 51.6569 30.75 48.6569C41.75 46.6569 53.75 47.6569 59.75 49.6569C64.75 50.6569 65.75 52.6569 65.75 52.6569C65.75 52.6569 70.75 39.6569 75.75 27.6569C81.75 15.6569 84.75 11.6569 86.75 9.65685C89.75 7.65685 90.75 8.65685 93.75 9.65685C95.75 10.6569 104.75 14.6569 104.75 14.6569C104.75 14.6569 106.75 15.6569 103.75 18.6569C100.75 21.6569 90.75 28.6569 86.75 34.6569C81.75 40.6569 76.75 47.6569 75.75 49.6569C74.75 51.6569 73.75 53.6569 73.75 53.6569L74.75 52.6569ZM70.75 36.6569C70.75 36.6569 71.75 23.6569 64.75 13.6569C57.75 3.65685 47.75 0.656854 42.75 0.656854C38.75 -0.343146 32.75 -0.343146 31.75 1.65685C29.75 4.65685 31.75 21.6569 39.75 29.6569C48.75 37.6569 56.75 38.6569 61.75 38.6569C65.75 38.6569 69.75 37.6569 70.75 37.6569C70.75 36.6569 70.75 36.6569 70.75 36.6569Z" transform="translate(0 203.503)" fill="#96989A"/>
														<path fill-rule="evenodd" clip-rule="evenodd" d="M74.75 52.16C74.75 52.16 81.75 49.16 89.75 47.16C97.75 45.16 113.75 45.16 123.75 54.16C133.75 63.16 142.75 80.16 140.75 101.16C137.75 123.16 125.75 158.16 113.75 167.16C101.75 176.16 90.75 180.16 82.75 179.16C74.75 178.16 70.75 176.16 70.75 176.16C70.75 176.16 61.75 179.16 56.75 179.16C50.75 179.16 41.75 179.16 32.75 170.16C22.75 162.16 8.75 143.16 3.75 126.16C-1.25 108.16 -1.25 89.16 3.75 75.16C9.75 61.16 19.75 51.16 30.75 49.16C41.75 46.16 53.75 47.16 59.75 49.16C64.75 51.16 65.75 52.16 65.75 52.16C65.75 52.16 70.75 39.16 75.75 27.16C81.75 15.16 84.75 11.16 86.75 9.16C89.75 7.16 90.75 8.16 93.75 9.16C95.75 10.16 104.75 14.16 104.75 14.16C104.75 14.16 106.75 15.16 103.75 18.16C100.75 21.16 90.75 28.16 86.75 34.16C81.75 40.16 76.75 47.16 75.75 49.16C74.75 51.16 73.75 53.16 73.75 53.16L74.75 52.16ZM70.75 36.16C70.75 36.16 71.75 24.16 64.75 13.16C57.75 3.16 47.75 1.16 42.75 0.16C38.75 0.16 32.75 -0.84 31.75 2.16C29.75 4.16 31.75 21.16 39.75 29.16C48.75 38.16 56.75 38.16 61.75 38.16C65.75 39.16 69.75 38.16 70.75 37.16C70.75 36.16 70.75 36.16 70.75 36.16Z" fill="#96989A"/>
														<path fill-rule="evenodd" clip-rule="evenodd" d="M74.1335 52.6569C74.1335 52.6569 82.1335 49.6569 90.1335 47.6569C98.1335 45.6569 113.133 45.6569 123.133 54.6569C133.133 63.6569 143.133 80.6569 140.133 101.657C138.133 123.657 125.133 157.657 114.133 167.657C102.133 176.657 91.1335 180.657 83.1335 179.657C74.1335 178.657 70.1335 176.657 70.1335 176.657C70.1335 176.657 62.1335 179.657 56.1335 179.657C50.1335 179.657 42.1335 178.657 32.1335 170.657C23.1335 162.657 9.13349 143.657 4.13349 126.657C-0.866512 108.657 -1.86651 88.6569 4.13349 75.6569C9.13349 61.6569 20.1335 51.6569 31.1335 48.6569C42.1335 46.6569 54.1335 47.6569 59.1335 49.6569C64.1335 50.6569 66.1335 52.6569 66.1335 52.6569C66.1335 52.6569 70.1335 39.6569 76.1335 27.6569C82.1335 15.6569 84.1335 11.6569 87.1335 9.65685C89.1335 7.65685 91.1335 8.65685 93.1335 9.65685C96.1335 10.6569 105.133 14.6569 105.133 14.6569C105.133 14.6569 106.133 15.6569 103.133 18.6569C100.133 21.6569 91.1335 28.6569 86.1335 34.6569C81.1335 40.6569 77.1335 47.6569 76.1335 49.6569C74.1335 51.6569 74.1335 53.6569 74.1335 53.6569V52.6569ZM70.1335 36.6569C70.1335 36.6569 71.1335 23.6569 64.1335 13.6569C57.1335 3.65685 48.1335 0.656854 43.1335 0.656854C38.1335 -0.343146 33.1335 -0.343146 31.1335 1.65685C30.1335 4.65685 31.1335 21.6569 40.1335 29.6569C48.1335 37.6569 57.1335 38.6569 61.1335 38.6569C65.1335 38.6569 70.1335 37.6569 70.1335 37.6569C70.1335 36.6569 70.1335 36.6569 70.1335 36.6569Z" transform="translate(153.617 203.503)" fill="#96989A"/>
														<path fill-rule="evenodd" clip-rule="evenodd" d="M74.1335 52.16C74.1335 52.16 82.1335 49.16 90.1335 47.16C98.1335 45.16 113.133 45.16 123.133 54.16C133.133 63.16 143.133 80.16 140.133 101.16C138.133 123.16 125.133 158.16 114.133 167.16C102.133 176.16 91.1335 180.16 83.1335 179.16C74.1335 178.16 70.1335 176.16 70.1335 176.16C70.1335 176.16 62.1335 179.16 56.1335 179.16C50.1335 179.16 42.1335 179.16 32.1335 170.16C23.1335 162.16 9.13349 143.16 4.13349 126.16C-0.866512 108.16 -1.86651 89.16 4.13349 75.16C9.13349 61.16 20.1335 51.16 31.1335 49.16C42.1335 46.16 54.1335 47.16 59.1335 49.16C64.1335 51.16 66.1335 52.16 66.1335 52.16C66.1335 52.16 70.1335 39.16 76.1335 27.16C82.1335 15.16 84.1335 11.16 87.1335 9.16C89.1335 7.16 91.1335 8.16 93.1335 9.16C96.1335 10.16 105.133 14.16 105.133 14.16C105.133 14.16 106.133 15.16 103.133 18.16C100.133 21.16 91.1335 28.16 86.1335 34.16C81.1335 40.16 77.1335 47.16 76.1335 49.16C74.1335 51.16 74.1335 53.16 74.1335 53.16V52.16ZM70.1335 36.16C70.1335 36.16 71.1335 24.16 64.1335 13.16C57.1335 3.16 48.1335 1.16 43.1335 0.16C38.1335 0.16 33.1335 -0.84 31.1335 2.16C30.1335 4.16 31.1335 21.16 40.1335 29.16C48.1335 38.16 57.1335 38.16 61.1335 38.16C65.1335 39.16 70.1335 38.16 70.1335 37.16C70.1335 36.16 70.1335 36.16 70.1335 36.16Z" transform="translate(153.617)" fill="#96989A"/>
														<path fill-rule="evenodd" clip-rule="evenodd" d="M74.75 52.6569C74.75 52.6569 81.75 49.6569 89.75 47.6569C97.75 45.6569 113.75 45.6569 123.75 54.6569C133.75 63.6569 142.75 80.6569 140.75 101.657C137.75 123.657 125.75 157.657 113.75 167.657C101.75 176.657 90.75 180.657 82.75 179.657C74.75 178.657 70.75 176.657 70.75 176.657C70.75 176.657 61.75 179.657 56.75 179.657C50.75 179.657 41.75 178.657 32.75 170.657C22.75 162.657 8.75 143.657 3.75 126.657C-1.25 108.657 -1.25 88.6569 3.75 75.6569C9.75 61.6569 19.75 51.6569 30.75 48.6569C41.75 46.6569 53.75 47.6569 59.75 49.6569C64.75 50.6569 65.75 52.6569 65.75 52.6569C65.75 52.6569 70.75 39.6569 75.75 27.6569C81.75 15.6569 84.75 11.6569 86.75 9.65685C89.75 7.65685 90.75 8.65685 93.75 9.65685C95.75 10.6569 104.75 14.6569 104.75 14.6569C104.75 14.6569 106.75 15.6569 103.75 18.6569C100.75 21.6569 90.75 28.6569 86.75 34.6569C81.75 40.6569 76.75 47.6569 75.75 49.6569C74.75 51.6569 73.75 53.6569 73.75 53.6569L74.75 52.6569ZM70.75 36.6569C70.75 36.6569 71.75 23.6569 64.75 13.6569C57.75 3.65685 47.75 0.656854 42.75 0.656854C38.75 -0.343146 32.75 -0.343146 31.75 1.65685C29.75 4.65685 31.75 21.6569 39.75 29.6569C48.75 37.6569 56.75 38.6569 61.75 38.6569C65.75 38.6569 69.75 37.6569 70.75 37.6569C70.75 36.6569 70.75 36.6569 70.75 36.6569Z" transform="translate(307 203.503)" fill="#96989A"/>
														<path fill-rule="evenodd" clip-rule="evenodd" d="M74.75 52.16C74.75 52.16 81.75 49.16 89.75 47.16C97.75 45.16 113.75 45.16 123.75 54.16C133.75 63.16 142.75 80.16 140.75 101.16C137.75 123.16 125.75 158.16 113.75 167.16C101.75 176.16 90.75 180.16 82.75 179.16C74.75 178.16 70.75 176.16 70.75 176.16C70.75 176.16 61.75 179.16 56.75 179.16C50.75 179.16 41.75 179.16 32.75 170.16C22.75 162.16 8.75 143.16 3.75 126.16C-1.25 108.16 -1.25 89.16 3.75 75.16C9.75 61.16 19.75 51.16 30.75 49.16C41.75 46.16 53.75 47.16 59.75 49.16C64.75 51.16 65.75 52.16 65.75 52.16C65.75 52.16 70.75 39.16 75.75 27.16C81.75 15.16 84.75 11.16 86.75 9.16C89.75 7.16 90.75 8.16 93.75 9.16C95.75 10.16 104.75 14.16 104.75 14.16C104.75 14.16 106.75 15.16 103.75 18.16C100.75 21.16 90.75 28.16 86.75 34.16C81.75 40.16 76.75 47.16 75.75 49.16C74.75 51.16 73.75 53.16 73.75 53.16L74.75 52.16ZM70.75 36.16C70.75 36.16 71.75 24.16 64.75 13.16C57.75 3.16 47.75 1.16 42.75 0.16C38.75 0.16 32.75 -0.84 31.75 2.16C29.75 4.16 31.75 21.16 39.75 29.16C48.75 38.16 56.75 38.16 61.75 38.16C65.75 39.16 69.75 38.16 70.75 37.16C70.75 36.16 70.75 36.16 70.75 36.16Z" transform="translate(307)" fill="#96989A"/>
													</svg>
											</div>
											<div class="text">мелкий опт <br /> (от 10-30 ед) </div>
										</label>
									</div>

									<div class="checker">
										<input type="radio" id="nom_cheker3" name="nom_cheker" value="0.2" v-model="nom" />
										<label for="nom_cheker3">
											<div class="pic min">
													<svg width="444" height="385" viewBox="0 0 444 385" fill="none" xmlns="http://www.w3.org/2000/svg">
														<path fill-rule="evenodd" clip-rule="evenodd" d="M101 0V80C101 85 97 89 92 89H9C4 89 0 85 0 80V18V0H101ZM35 22H67V33H35V22Z" transform="translate(31 63)" fill="#96989A"/>
														<path fill-rule="evenodd" clip-rule="evenodd" d="M101 0V79C101 84 97 88 92 88H9C4 88 0 84 0 79V17V0H101ZM35 21H67V33H35V21Z" transform="translate(31 162)" fill="#96989A"/>
														<path fill-rule="evenodd" clip-rule="evenodd" d="M101 0V79C101 84 97 88 92 88H9C4 88 0 84 0 79V17V0H101ZM35 21H67V33H35V21Z" transform="translate(31 248)" fill="#96989A"/>
														<path fill-rule="evenodd" clip-rule="evenodd" d="M101 0V80C101 85 97 89 92 89H9C4 89 0 85 0 80V18V0H101ZM35 22H67V33H35V22Z" transform="translate(143 63)" fill="#96989A"/>
														<path fill-rule="evenodd" clip-rule="evenodd" d="M101 0V79C101 84 97 88 92 88H9C4 88 0 84 0 79V17V0H101ZM35 21H67V33H35V21Z" transform="translate(143 162)" fill="#96989A"/>
														<path fill-rule="evenodd" clip-rule="evenodd" d="M101 0V79C101 84 97 88 92 88H9C4 88 0 84 0 79V17V0H101ZM35 21H67V33H35V21Z" transform="translate(143 248)" fill="#96989A"/>
														<path fill-rule="evenodd" clip-rule="evenodd" d="M101 0V80C101 85 97 89 92 89H9C4 89 0 85 0 80V18V0H101ZM35 22H67V33H35V22Z" transform="translate(256 63)" fill="#96989A"/>
														<path fill-rule="evenodd" clip-rule="evenodd" d="M101 0V79C101 84 97 88 92 88H9C4 88 0 84 0 79V17V0H101ZM35 21H67V33H35V21Z" transform="translate(256 162)" fill="#96989A"/>
														<path fill-rule="evenodd" clip-rule="evenodd" d="M101 0V79C101 84 97 88 92 88H9C4 88 0 84 0 79V17V0H101ZM35 21H67V33H35V21Z" transform="translate(256 248)" fill="#96989A"/>
														<path fill-rule="evenodd" clip-rule="evenodd" d="M0 11H330V56L381 0V42L333 96H330H326H0V11Z" transform="translate(31 240)" fill="#96989A"/>
														<path fill-rule="evenodd" clip-rule="evenodd" d="M381 0V18L333 73H330H326H0V61H321H325H328L381 0Z" transform="translate(31 274)" fill="#96989A"/>
														<path fill-rule="evenodd" clip-rule="evenodd" d="M381 0V18L333 73H330H326H0V61L321 60H325H328L381 0Z" transform="translate(31 298)" fill="#96989A"/>
														<path fill-rule="evenodd" clip-rule="evenodd" d="M60 0L0 67V139L60 73V0Z" transform="translate(352 187)" fill="#96989A"/>
														<path fill-rule="evenodd" clip-rule="evenodd" d="M71 0L0 78L11 148L17 149L71 89V0Z" transform="translate(341 101)" fill="#96989A"/>
														<path fill-rule="evenodd" clip-rule="evenodd" d="M71 0L0 78L11 148L71 83V0Z" transform="translate(341 2)" fill="#96989A"/>
														<path class="white" fill-rule="evenodd" clip-rule="evenodd" d="M0 61L63 0H163L101 61H0ZM174 0H275L213 61H112L174 0ZM287 0H381L326 61H225L287 0Z" transform="translate(31 2)" fill="#FEFEFE"/>
														<path d="M0 60L61 0H62H63H163H169L165 4L103 65L102 66H101H0V60ZM64 5L6 61H100L157 5H64ZM174 0H275H281L277 4L215 65L214 66H213H112H106L110 62L172 0H173H174ZM269 5H175L118 61H212L269 5ZM287 0H381V6L328 65L327 66H326H225H219L223 62L285 0H286H287ZM376 5H288L231 61H325L376 5Z" transform="translate(31)" fill="#96989A"/>
														<path class="white" fill-rule="evenodd" clip-rule="evenodd" d="M26 0H356L337 40H0L26 0Z" transform="translate(5 251)" fill="#FEFEFE"/>
														<path d="M31 0H361H365L363 4L344 44V45H342H5H0L3 41L29 1V0H31ZM357 5H32L9 40H340L357 5Z" transform="translate(0 248)" fill="#96989A"/>
														<path class="white" fill-rule="evenodd" clip-rule="evenodd" d="M51 0L0 57L28 73L79 14L51 0Z" transform="translate(361 192)" fill="#FEFEFE"/>
														<path d="M56 7L8 59L31 73L79 18L56 7ZM2 58L54 2L55 0L57 1L84 14L87 16L85 18L33 78L32 79L30 78L3 62L0 60L2 58Z" transform="translate(357 189)" fill="#96989A"/>
														<path fill-rule="evenodd" clip-rule="evenodd" d="M0 0H42V48H0V0Z" transform="translate(31 337)" fill="#96989A"/>
														<path fill-rule="evenodd" clip-rule="evenodd" d="M0 0H43V48H0V0Z" transform="translate(321 337)" fill="#96989A"/>
														<path fill-rule="evenodd" clip-rule="evenodd" d="M0 0H31V48H0V0Z" transform="translate(381 285)" fill="#96989A"/>
													</svg>
											</div>
											<div class="text">опт <br /> (от 30-60 ед)</div>
										</label>
									</div>

									<div class="checker">
											<input type="radio" id="nom_cheker4" name="nom_cheker" value="0.1" v-model="nom"/>
											<label for="nom_cheker4">
												<div class="pic min" >
													<svg width="400" height="382" viewBox="0 0 400 382" fill="none" xmlns="http://www.w3.org/2000/svg">
														<path fill-rule="evenodd" clip-rule="evenodd" d="M54 0H51L6 50L0 382H6L54 329V0Z" transform="translate(346)" fill="#96989A"/>
														<path fill-rule="evenodd" clip-rule="evenodd" d="M0 0H350V332H0V0Z" transform="translate(2 50)" fill="#96989A"/>
														<path d="M46 0H394H398L396 3L352 53L351 55H350H5H0L3 51L44 1L45 0H46ZM390 5H48L9 50H348L390 5Z" fill="#96989A"/>
														<path class="white" fill-rule="evenodd" clip-rule="evenodd" d="M0 0H340V323H0V0Z" transform="translate(7 55)" fill="#FEFEFE"/>
														<path fill-rule="evenodd" clip-rule="evenodd" d="M43 0V34C43 36 41 38 39 38H4C2 38 0 36 0 34V7V0H43ZM140 42V76C140 78 138 80 136 80H100C98 80 96 78 96 76V50V42H140ZM111 51H125V56H111V51ZM140 0V34C140 36 138 38 136 38H100C98 38 96 36 96 34V7V0H140ZM111 9H125V14H111V9ZM91 42V76C91 78 90 80 88 80H52C50 80 48 78 48 76V50V42H91ZM63 51H77V56H63V51ZM91 0V34C91 36 90 38 88 38H52C50 38 48 36 48 34V7V0H91ZM63 9H77V14H63V9ZM43 42V76C43 78 41 80 39 80H4C2 80 0 78 0 76V50V42H43ZM15 51H29V56H15V51ZM15 9H29V14H15V9Z" transform="translate(29 76)" fill="#96989A"/>
														<path fill-rule="evenodd" clip-rule="evenodd" d="M43 0V34C43 36 41 38 39 38H4C2 38 0 36 0 34V7V0H43ZM140 42V76C140 78 138 80 136 80H100C98 80 96 78 96 76V49V42H140ZM111 51H125V56H111V51ZM140 0V34C140 36 138 38 136 38H100C98 38 96 36 96 34V7V0H140ZM111 9H125V14H111V9ZM91 42V76C91 78 90 80 88 80H52C50 80 48 78 48 76V49V42H91ZM63 51H77V56H63V51ZM91 0V34C91 36 90 38 88 38H52C50 38 48 36 48 34V7V0H91ZM63 9H77V14H63V9ZM43 42V76C43 78 41 80 39 80H4C2 80 0 78 0 76V49V42H43ZM15 51H29V56H15V51ZM15 9H29V14H15V9Z" transform="translate(29 175)" fill="#96989A"/>
														<path fill-rule="evenodd" clip-rule="evenodd" d="M43 0V34C43 36 41 37 39 37H4C2 37 0 36 0 34V7V0H43ZM140 42V76C140 78 138 80 136 80H100C98 80 96 78 96 76V49V42H140ZM111 51H125V56H111V51ZM140 0V34C140 36 138 37 136 37H100C98 37 96 36 96 34V7V0H140ZM111 9H125V14H111V9ZM91 42V76C91 78 90 80 88 80H52C50 80 48 78 48 76V49V42H91ZM63 51H77V56H63V51ZM91 0V34C91 36 90 37 88 37H52C50 37 48 36 48 34V7V0H91ZM63 9H77V14H63V9ZM43 42V76C43 78 41 80 39 80H4C2 80 0 78 0 76V49V42H43ZM15 51H29V56H15V51ZM15 9H29V14H15V9Z" transform="translate(29 277)" fill="#96989A"/>
														<path fill-rule="evenodd" clip-rule="evenodd" d="M43 0V34C43 36 41 38 39 38H4C1 38 0 36 0 34V7V0H43ZM140 42V76C140 78 138 80 136 80H100C98 80 96 78 96 76V50V42H140ZM111 51H125V56H111V51ZM140 0V34C140 36 138 38 136 38H100C98 38 96 36 96 34V7V0H140ZM111 9H125V14H111V9ZM91 42V76C91 78 90 80 87 80H52C50 80 48 78 48 76V50V42H91ZM63 51H77V56H63V51ZM91 0V34C91 36 90 38 87 38H52C50 38 48 36 48 34V7V0H91ZM63 9H77V14H63V9ZM43 42V76C43 78 41 80 39 80H4C1 80 0 78 0 76V50V42H43ZM15 51H28V56H15V51ZM15 9H28V14H15V9Z" transform="translate(186 76)" fill="#96989A"/>
														<path fill-rule="evenodd" clip-rule="evenodd" d="M43 0V34C43 36 41 38 39 38H4C1 38 0 36 0 34V7V0H43ZM140 42V76C140 78 138 80 136 80H100C98 80 96 78 96 76V49V42H140ZM111 51H125V56H111V51ZM140 0V34C140 36 138 38 136 38H100C98 38 96 36 96 34V7V0H140ZM111 9H125V14H111V9ZM91 42V76C91 78 90 80 87 80H52C50 80 48 78 48 76V49V42H91ZM63 51H77V56H63V51ZM91 0V34C91 36 90 38 87 38H52C50 38 48 36 48 34V7V0H91ZM63 9H77V14H63V9ZM43 42V76C43 78 41 80 39 80H4C1 80 0 78 0 76V49V42H43ZM15 51H28V56H15V51ZM15 9H28V14H15V9Z" transform="translate(186 175)" fill="#96989A"/>
														<path fill-rule="evenodd" clip-rule="evenodd" d="M43 0V34C43 36 41 37 39 37H4C1 37 0 36 0 34V7V0H43ZM140 42V76C140 78 138 80 136 80H100C98 80 96 78 96 76V49V42H140ZM111 51H125V56H111V51ZM140 0V34C140 36 138 37 136 37H100C98 37 96 36 96 34V7V0H140ZM111 9H125V14H111V9ZM91 42V76C91 78 90 80 87 80H52C50 80 48 78 48 76V49V42H91ZM63 51H77V56H63V51ZM91 0V34C91 36 90 37 87 37H52C50 37 48 36 48 34V7V0H91ZM63 9H77V14H63V9ZM43 42V76C43 78 41 80 39 80H4C1 80 0 78 0 76V49V42H43ZM15 51H28V56H15V51ZM15 9H28V14H15V9Z" transform="translate(186 277)" fill="#96989A"/>
													</svg>
												</div>
												<div class="text">магазин <br /> (более 100 ед)</div>
											</label>
										</div>
									</div>



							</section>
						</form>

					</div>
					<div class="calc_footer">
						<div class="description"> Мы предлагаем к ознакомлению примерные расценки на инвентаризацию </div>
						<div class="list">
							<div class="row">
								<div class="item">
									<div class="name"> Инвентаризация склада </div>
									<div class="val"> от 20 копеек за единицу товара </div>
								</div>
								<div class="item">
										<div class="name"> Инвентаризация магазина</div>
										<div class="val"> от 50 копеек за единицу товара</div>
									</div>
							</div>

							<div class="row">
									<div class="item">
										<div class="name">Инвентаризация имущества по штрих-кодам  </div>
										<div class="val"> от 10 рублей за единицу товара</div>
									</div>

								<div class="item">
									<div class="name">Постановка управленческого учета </div>
									<div class="val"> от 100 рублей за единицу товара</div>
								</div>
							</div> 



						</div>

						<div class="decription2">
								Также вы можете воспользоваться калькулятором, который позволяет быстро произвести расчет 
								приблизительной стоимости инвертаризации ваших товаров или имущества. Окончательную стоимость работ и услуг по инвентаризации вы можете узнать, 
								обратившись к нашим специалистам. 
								Обращаем ваше внимание, что у нас действует система акций и скидок, таким образом цена за услугу может оказаться ниже рассчитанной. 
						</div>

					</div>

				</div>
				<aside>
					<form class="ask_amount">
						<label for="ask_amount_name">ФИО*</label>
						<input type="text" id="ask_amount_name" />

						<label for="ask_amount_email">Email*</label>
						<input type="text" id="ask_amount_email" />

						<label for="ask_amount_phone">Телефон*</label>
						<input type="text" id="ask_amount_phone" />

						<div class="first_row">
							<label for="ask_amount_from">от</label>
							<input type="text" class="dark"  id="ask_amount_from" v-model="from" readonly />
						</div>

						<div>
							<label for="ask_amount_to">до</label>
							<input type="text" class="dark" id="ask_amount_to" v-model="to" readonly />
						</div>

						<div class="text">Цена примерная. С вами свяжется менеджер для подготовки точного коммерческого предложения</div>
						<button class="default_calc_button" >Узнать цену</button>
					</form>

					<form class="confirm">
						<label for="captcha_input">Введите слово с картинки</label>
						<div class="cont">
							<div class="captcha"> <img src="/img/captcha.jpg" alt="" /> </div>
							<input id="captcha_input" type="text" />
						</div>
						<button class="default_calc_button" >Оформить</button>
					</form>

					<div class="bottom_text">
						<div class="tit"> Примерная цена на инвернтаризацию товаров и имущества: </div>
						Стоимость инвентаризации завасит от типа ее проведения,
						от количе6ства проверяемых товаров и единиц имущества
						а также от того ками образом будет происходить подсчет
					</div>
				</aside>
			</div>
		</div>

	</div>



	<link rel="stylesheet" href="css/main.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="js/scripts.min.js"></script>
	<script id="__bs_script__">//<![CDATA[
    document.write("<script async src='http://HOST:3000/browser-sync/browser-sync-client.js?v=2.18.13'><\/script>".replace("HOST", location.hostname));
//]]></script>

	<script>
		let app = new Vue({
			el: '#calc_inv',
			data: {
				place: '1.2',
				ids: '1',
				nom: '1',
				obj_count: 30,
				item_count: 90000,

				firstRulerStyle: '',
				firstRangeStyle: '',
				secondRangeStyle: '',
			},
			computed: {
				more650(){
					return window.innerWidth > 650 ? true : false
				},
				item_count_calculate(){
					// console.log( this.item_count )
					if( this.item_count <= 70000 ) return this.item_count
						else if( this.item_count <= 80000 ) return 70000 + ( this.item_count - 70000 )*93
							else if( this.item_count <= 90000 ) return 1000000 + ( this.item_count - 80000 )*400
								return 5000000 + ( this.item_count - 90000 )*500
				},
				calc_from(){
					let d5, d6, f8, f9, f11, d13, d15, e16= 1.2, e17= 2.5;
					
					let obj_count = parseInt( this.obj_count )
					if( obj_count < 10 ){d5 = 1;d6 = 1;}
						else if ( obj_count <= 40 ){d5 = 20;d6 = 0.8;}
							else{d5 = 100;d6 = 1.2;}
								
					let item_count = parseInt( this.item_count_calculate )
					if( item_count <= 5000 ){f8 = 5000;f9 = 1.1;}
						else if ( item_count <= 60000 ){f8 = 60000;f9 = 0.8;}
							else if ( item_count <= 200000 ){f8 = 200000;f9 = 1.1;}
								else if ( item_count <= 500000 ){f8 = 500000;f9 = 1.1;}
									else{f8 = 3000000;f9 = 1.3;}

					f11 = parseFloat(this.place)
					d13 = parseFloat(this.ids)
					d15 = parseFloat(this.nom)
					
					return Math.round( (d5*(2500+(f8/(2000/f11/d13/d15))*1000))*e16*f9*d6 )
				},
				from(){
					let d5, d6, f8, f9, f11, d13, d15, e16= 1.2, e17= 2.5;
					
					let obj_count = parseInt( this.obj_count )
					if( obj_count < 10 ){d5 = 1;d6 = 1;}
						else if ( obj_count <= 40 ){d5 = 20;d6 = 0.8;}
							else{d5 = 100;d6 = 1.2;}
								
					let item_count = parseInt( this.item_count_calculate )
					if( item_count <= 5000 ){f8 = 5000;f9 = 1.1;}
						else if ( item_count <= 60000 ){f8 = 60000;f9 = 0.8;}
							else if ( item_count <= 200000 ){f8 = 200000;f9 = 1.1;}
								else if ( item_count <= 500000 ){f8 = 500000;f9 = 1.1;}
									else{f8 = 3000000;f9 = 1.3;}
									
					let calc2 = (this.calc_from/d5/f8).toFixed(2);

					return `${calc2} ₽ за ед ${this.calc_from} ₽`
				},
				to(){
					let d5, d6, f8, f9, f11, d13, d15, e16= 1.2, e17= 2.5;
					
					let obj_count = parseInt( this.obj_count )
					if( obj_count < 10 ){d5 = 1;d6 = 1;}
						else if ( obj_count <= 40 ){d5 = 20;d6 = 0.8;}
							else{d5 = 100;d6 = 1.2;}

					let item_count = parseInt( this.item_count_calculate )
					if( item_count <= 5000 ){f8 = 5000;f9 = 1.1;}
						else if ( item_count <= 60000 ){f8 = 60000;f9 = 0.8;}
							else if ( item_count <= 200000 ){f8 = 200000;f9 = 1.1;}
								else if ( item_count <= 500000 ){f8 = 500000;f9 = 1.1;}
									else{f8 = 3000000;f9 = 1.3;}


					let calc = this.calc_from/e16*e17;
					let calc2 = (calc/d5/f8).toFixed(2);
					
					return `${calc2} ₽ за ед ${calc} ₽`;
				}
			},
			methods:{
				onChangeRange(elem, name){
					const white = 100 - (1326.2  / elem.offsetWidth);
					console.log(white);
					

					const rulerWidth = 100 - (1954.4  / elem.offsetWidth)

					let value = (elem.value - elem.min) / (elem.max - elem.min) - ( window.screen.width > 650 ? 0.008 : 0.03 )
					let field = value*100;

					if (name === 'firstRangeStyle') this.firstRangeStyle = `backgroundImage: linear-gradient(to right, #ffaf7d 0%, #ffaf7d ${field}%, #e6e3e3 ${field}%, #e6e3e3 ${white}%, rgba(1,1,1,0) ${white}%)`
					if (name === 'secondRangeStyle') this.secondRangeStyle = `backgroundImage: linear-gradient(to right, #ffaf7d 0%, #ffaf7d ${field}%, #e6e3e3 ${field}%, #e6e3e3 ${white}%, rgba(1,1,1,0) ${white}%)`
					this.firstRulerStyle = `width: ${rulerWidth}%`
				},
			},
			beforeMount(){
				let app = this;
				setTimeout(() => {
					let elem2 = document.querySelector('#item_count_range')
					let elem = document.querySelector('#obj_count_range')
					elem2.value = 90000
					
					app.onChangeRange( elem, 'firstRangeStyle' )
					app.onChangeRange( elem2 , 'secondRangeStyle' )
				}, 1000);

			}
		})
	</script>

	<script>

		// function test(a) {
        //     // console.log(a)
        // }
		function rangeBGstr(value) {
			
			const white = 98.1;
			let field = value*100;
			if ( field >  white ) field = white;

            return `linear-gradient(to right, #ffaf7d 0%, #ffaf7d ${field}%, #e6e3e3 ${field}%, #e6e3e3 ${white}%, rgba(1,1,1,0) ${white}%)`;
        }
        let inputs = $("input[type=range]");

		for (let i=0; i< inputs.length; i++){
            let item = inputs[i];
            let value = (item.value - item.min)/(item.max - item.min) - 0.005
            // $(item).css('backgroundImage', rangeBGstr(value));
			// item.oninput = function () {
            //     test(this.value);
            //     let value = (item.value - item.min)/(item.max - item.min) - 0.008
            //     $(item).css('backgroundImage', rangeBGstr(value) );
			// };
		}
        // inputs = Array.splice(inputs, 0);
        // inputs.forEach(function (item) {
        //
        // });
	</script>
</body>
</html>
