
@import "libs";
@import "vars";

* {
	box-sizing: border-box;
	outline: none;
	font-family: Roboto;
	font-weight: 300;
	padding: 0;
	margin: 0;
}

html, body {
	height: 100%;
}

body {
	opacity: 1;
}
button, a{
	cursor: pointer;
}
.site{
	padding: 100px;
}

.calc_inv{
	display: flex;
	flex-direction: column;
	div, nav, section, aside{
		display: flex;
	}
	.calc_menu{
		padding: 20px 20px 30px;
		.item{
			align-items: center;
			margin-right: 150px;
			font-size: 19px;
			font-weight: 400;
			text-transform: uppercase;
			&:last-child{
				margin-right: 0;
			}
			& > *{
				cursor: pointer;
			}
		}
		.pic img{
			width: 80px;
			height: 80px;
			margin-right: 15px;
		}
	}
	form{
		width: 100%;
	}
	.container{
		flex-direction: column;
		border: 1px solid #E8E9EA;
		border-radius: 20px;
		width: 100%;
		padding-bottom: 20px;
	}
	section{
		position: relative;
		padding: 40px 50px 70px;
		width: 100%;
		flex-direction: column;
	}
	.dark_section{
		background: #F8F8F8;
	}
	.module_title{
		font-size: 26px;
		color: #3D3D3D;
		text-transform: uppercase;
	}

	aside{
		width: 350px;
		background-color: #EBEBEB;
		border-radius: 20px;
		flex-direction: column;
		padding: 50px 28px;
		.bottom_text{
			font-size: 11px;
			flex-direction: column;
			.tit{
				font-weight: 500;
			}
		}
	}
	.ask_amount{
		flex-direction: column;
		label, input {
			font-size: 20px;
			display: flex;
		}
		input{
			appearance: none;
			border-radius: 5px;
			border: 0px;
			padding: 0 8px;
			margin-top: 5px;
			margin-bottom: 19px;
			width: 100%;
			height: 43px;
		}
		div{
			display: flex;
			align-items: center;
			label{
				color: #96989A;
				margin-bottom: 19px;
				margin-right: 19px;
			}
		}
		.dark{
			background-color: #96989A;
			text-align: right;
			color: #FEFEFE;
		}
		.text{
			font-size: 11px;
			line-height: 20px;
		}
		.first_row{
			padding-top: 50px;
		}
	}
	.confirm{
		padding: 35px 0 50px;
		.cont{
			padding-top: 4px;
			justify-content: space-around;
		}
		label{
			font-size: 11px;
			padding-left: 150px;
		}
		.captcha{
			border: 1px solid #848688;
			border-radius: 5px;
			img{
				border-radius: 5px;
				width: 100%;
				height: 100%;
			}
		}
		input, .captcha{
			font-size: 21px;
			width: 140px;
			height: 45px;
		}
		input{
			appearance: none;
			border-radius: 5px;
			border: 0px;
			padding: 0 8px;
		}
		.default_calc_button{
			margin-top: 50px;
		}
	}
	.default_calc_button{
		appearance: none;
		margin-top: 10px;
		width: 100%;
		height: 43px;
		color: #FEFEFE;
		font-size: 20px;
		text-transform: uppercase;
		border-radius: 10px;
		border: 0 solid black;
		background-color: #E96C20;
	}
	.tit_row{
		align-items: center;
		
		font-size: 13px;
		div{
			white-space: nowrap;
		}
	}
	.input_text{
		height: 43px;
		margin: 5px 20px;
		border: 1px solid #E96C20;
		border-radius: 5px;

		text-align: center;
		font-size: 24px;
		font-weight: 500;
		color: #E96C20;
	}

	#obj_count_input{
		width: 60px;
	}
	#item_count_input{
		width: 150px;
	}
	label{
		position: relative;
	}
	.progress{
		top:11px;
		position: absolute;
		width: calc(100% - 15px);
		height: 3px;
		z-index: 40;
	}
	.input_range{
		appearance: none;
		width: 100%;

	}
	.ruler{
		position: relative;
		width: 97.2%;
	}
	.seg{
		position: absolute;
		width: 55px;
		justify-content: center;
		padding-top: 8px;
		padding-right: 49px;

		font-size: 11px;
		text-align: right;
		color: #96989A;
		white-space: nowrap;
		&.last{
			justify-content: flex-end;
			.sub_text{
				transform: translateX(-75%);
			}
		}
		.vertical_line{
			position: absolute;
			top: 0px;
			left: 3px;
			border-left: 1px solid #BDBFC1;
			height: 6px;
		}
		.sub_text{
			position: absolute;
			font-size: 8px;
			top: 22px;
			left: 0;
			transform: translateX(-30%);
		}


	}


	.check_section{
		display: flex;
		align-items: center;
		flex-direction: row;

		padding-bottom: 35px;
		position: relative;
		.tit{
			min-width: 170px;
			font-size: 15px;
		}
		.list{
			position: relative;
			justify-content: space-between;
			width: 100%;
			&::after{
				content: '';
				position: absolute;
				z-index: 20;
				top: 55%;
				left: 0;
				height: 4px;
				width: 100%;
				background: #E6E3E3;
				transform: translateY(-50%);
			}

		}

		.checker{
			z-index: 30;
			position: relative;
		}
		label{
			cursor: pointer;
		}
		input[type=radio]{
			appearance: none;
			border: 0;
			box-shadow: none;
			outline: none;
			position: absolute;
			top: 55%;
			left: 50%;
			transform: translateX(-3px);
			background: none;
			&:checked{
				&::after{
					display: none;
				}
				&::before{
					display: block;
				}
			}
			&:checked ~ label path{
				fill: #E96C20;
			}
			&::after{
				content: '';
				position: absolute;
				top: -2px;
				width: 4px;
				height: 4px;
				background: #A9ABAE;
			}
			&::before{
				display: none;
				content: '';
				box-sizing: border-box;
				position: absolute;
				width: 20px;
				height: 20px;
				transform: translateY(-50%) translateX(-40%);
				background: #fff;
				border: 7.8px solid #E96C20;
				border-radius: 50%;
			}
		}
		.line_offset{
			&::after {
			top: 60%;
			}
			input[type=radio]{
				top: 60%;
			}
		}
		.big_line_offset{
			&::after {
				top: 70%;
			}
			input[type=radio]{
				top: 70%;
			}
			.text{
				padding-top: 25px;
			}
		}
		.tit_offset{
			padding-top: 20px;
		}
		.cheker{
			position: relative;
			width: 100%S;
		}
		.pic svg{
			width: 100px;
			height: 50px;
			justify-content: center;
		}
		.pic.min{
			width: 60px;
			margin: 0 20px;
			display: flex;
			justify-content: center;
		}

		.text{
			justify-content: center;
			padding-top: 35px;
			width: 100px;
			font-size: 13px;
			text-transform: lowercase;
			text-align: center
		}

	}
	.calc_main_container{
		position: relative;
	}

	.calc_main{
		flex-direction: column;
		width: 800px;
		margin-right: 45px;
	}
	.calc_footer{
		width: 800px;
		padding-top: 30px;
		flex-direction: column;
		position: relative;
		.description{
			padding-bottom: 20px;
			font-size: 14px;
			font-weight: 500;
		}
		.decription2{
			padding-top: 25px;
			font-size: 14px;
		}
		.row{
			margin:0;
			height: 25px;
			align-items: center;
			padding-left: 10px;
			&:nth-child(1), &:nth-child(3){
				background: #F8F8F8;
			}
		}
		.list{
			flex-wrap: wrap;
			flex-direction: column;
		}
		.item{
			font-size: 11px;
			min-width: 50%;
			width: 50%;
			align-items: center;
		}
		.name{
			flex: 1;
			align-items: center;
			padding-right: 5px;
			line-height: 12px;
		}
		.val{
			flex: 0.9;
			color: #f9951a;
			line-height: 12px;
		}
	}

	input[type=range] {
		appearance: none;
		width: 100%;
		margin: 8px 0;
		background-color: #ff000000;
	}

	input[type=range]::-webkit-slider-runnable-track {
		width: 100%;
		height: 4px;
		cursor: pointer;
		background: transparent;
	}
	input[type=range]::-webkit-slider-thumb {
		box-shadow: 0px 0px 1px #000031, 0px 0px 0px #00004b;
		border: 7.4px solid #e96c20;
		height: 20px;
		width: 20px;
		border-radius: 50px;
		background: #ffffff;
		cursor: pointer;
		-webkit-appearance: none;
		margin-top: -8px;
		margin-left: -6px;
		z-index: 50;
	}


	.white{
		fill: #fff !important;
	}

	@media (max-width: 5350px) {
		.module_title{
			justify-content: center;
			text-align: center
		}
		.calc_menu{
			justify-content: center;
			.item{
				margin-right: 20px;
			}
			.pic{
				display: none;
			}
		}
	
		.calc_main_container {
			flex-direction: column;
			align-items: center;
			
			.calc_main{
				align-items: center;
				max-width: 800px;
				width: 100%;
				margin: 0;
			}
			.container{
				margin-right: 0;
			}
			.tit_row{
				flex-direction: column;
			}
			.check_section{
				flex-direction: column;
				justify-content: center;
				.tit{
					text-align: center;
					min-width: 1px;
					padding-bottom: 10px;
				}
			}
			section{
				padding: 30px 15px 50px;
			}
		}
		
		aside{
			margin-top: 40px;
			width: 100%;
		}
		.calc_footer{
			width: 100%;
			.description{
				justify-content: center;
				flex-wrap: wrap;
			}

			.row {
				background: #fff !important;
				height: 60px;
				flex-direction: column;

				.item{
					width: 100%;
					min-height:30px;

				}
			}
		}
	
	}
}


@media (max-width: 650px) {
	.site{
		overflow-x: hidden;
	}
	.site{
		padding: 20px;
	}
	.calc_inv{
		aside{
			padding: 30px 15px;
		}
		.ask_amount div label{
			margin-right: 8px;
		}
		.ask_amount input{
			font-size: 18px;
		}
		.tit_row div{
			width: 100%;
			white-space: pre-wrap;
			justify-content: center;
			text-align: center;
		}
	}
	.calc_inv .seg.last {
		justify-content: center;
	}
	.calc_inv .seg .sub_text{
		display: none;
	}

	.calc_inv .check_section{

		// .list{
		// 	&::after{
		// 		top: 45%;
		// 	}
		// }
		// input[type=radio]{
		// 	top: 45%!important;
		// }
		label{
			align-items: center;
		}
		 .pic{
			margin-left: 17px;
			width: 25px !important;
			
			svg{
				width: 25px;
			}
		}
		.min{
			svg{
				width: 15px;
			}
		}
		.text{
			width: 60px;
			font-size: 6px
		}

	} 
}

@import "media"; // Всегда в конце
